{% extends "base.html" %}

<html>
{% block content %}

<head>
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="d-flex align-items-center justify-content-center">
        <div class="row content d-flex justify-content-center align-items-center" style="height:100vh">

            <div class="col-md-8">
                <div class="box shadow bg-white p-4">
                    <h1 class="text-center">Bienvenido al sistema de reporte de accidentes</h1>
                    <a href="{% url 'registrarAccidente' %}" class="d-grid gap-2 col-10 mx-auto mt-5"><button type="button" class="btn btn-primary btn-lg ">Registrar accidente</button></a>
                    <a href="{% url 'listaDeAccidentes' %}" class="d-grid gap-2 col-10 mx-auto mt-3"><button type="button" class="btn btn-primary btn-lg">Ver accidentes</button></a>
                    <div class="d-flex justify-content-end mt-5">
                        {% if user.is_authenticated %}
                        <a href="{% url 'IniciarSesion' %}"><button type="button" class="btn btn-dark btn-lg">Cerrar Sesión</button></a> {% endif %}
                    </div>
                </div>


            </div>
        </div>

    </div>
    {% endblock %}
</body>

</html>