
<html>
    <head>
        <link rel="stylesheet" href="/static/css/registrarAccidente.css">      
    </head>
    <body>
       
        <div id="mapa" class="capas">
           
        </div>
        <div id="datos" class="capas">
            <input type="text" id="place_input">
            <p>Ej: Cojutepeque Cuscatlan</p>
            
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{form.as_table}}                      
                    </table>
                    <table>
                        <strong>Opcional:</strong>
                        {{form2.as_table}}
                    </table>
                    <input type="submit" value="Guardar">
                </form>
                <p>Mueva el marcador rojo para obtener las coordenadas del lugar deseado</p>
            
        </div>  
            
            <div id="data"></div>
            <a href="{% url 'inicio' %} "><button>Regresar</button></a>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/static/js/mapa.js "></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBsWMz4YiUjnc-WKTIWdMx7rmexq2I76E8&libraries=places"></script>
        <script src="/static/js/select.js" > </script>
     
        
        
    </body>
</html>
